<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head ng-csp>
    <title>details</title>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/firebase/firebase-debug.js"></script>
<script type="text/javascript" src="lib/rxjs/dist/rx.all.js"></script>
<script type="text/javascript" src="rx.watch.js"></script>
    <style>
      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
      }
      #status {
        /* avoid an excessively wide status text */
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
      }
    </style>
  </head>
  <body ng-app="twrkr" >
    <form name="commentform" ng-controller="twrkCtrl">
      URL:
      <input type="text" ng-model="submission.pageurl" id="pageurl"></input>
      Suggestion:
      <input type="text" ng-model="submission.comment" id="commentbox" style="height: 100px; width: 250px;">
      <input type="button" ng-click="send(submission)">Send Your Idea</button>
    </form>
    <script type="text/javascript" src="pop.js"></script>
  </body>
</html>
